body {
    margin: 0;
    overflow: hidden;
    background: #000;
    font-family: sans-serif;
}

canvas {
    display: block;
}

#info {
    position: absolute;
    top: 10px;
    left: 10px;
    color: white;
    background: rgba(0, 0, 0, 0.5);
    padding: 10px;
    pointer-events: none;
}

video {
    transform: scaleX(-1);
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 200px;
    border: 2px solid #444;
}
